/* Template for customize CSS */

body {
  background-color: black;
  color: 336699;
}

form {
  margin-top: 15px;
  margin-left: 10px;
}

fieldset {
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  border: none;
}

legend {
  float: right;
  display: none;
}

select {
  border-color: #888888;
  background-color: black;
  color: #aeaeae;
}

select#bpm, select#bpm {

}

select#song {

}

button {
  margin-left: 5px; /* for layout */
  background-color: #202020;
  border-style: solid;
  border-color: #888888;
  border-width: 1px;
  color: #aeaeae;
}

input {
  background-color: black;
}

label {
  font-size: 12px;
  font-weight: normal;
  color: darkOrange;
}

div#links {
  font-weight: normal;
}

a {
  color: #bfe8ff;
  text-decoration: none;
  font-size: 0.75em;
  font-weight: bold;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

a:hover {
  text-decoration: underline;
}
