/* minimam css settings */

select#bpi, select#bpm {
  width: 100px;
}

select#song {
  width: 200px;
}

button {
  cursor: hand;
}

button#edit {
  display: none;
}

input#chat {
  width: 98%;
}

#client_label {
  display: none;
}

/* for collapsable */

legend {
  cursor: hand;
  cursor: pointer;
}
fieldset.collapsed {
  cursor: hand;
  cursor: pointer;
  border: none;
}

.collapsed legend {

}

.collapsed * {
  display: none;
}
.collapsed legend {
  display: inline;
}

